<!DOCTYPE html>
<html>
  <head>
  <title>HEISEI KAMEN RIDER</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
 
</head>

<body>
  <header>
  <img src="../../../assets/rogo.jpg" width="80px" height="80px"> 
  <h1 class="title">HEISEI KAMEN RIDER</h1>
  <div class="header-list">
    <ul>
      <li><%= link_to "ログイン", riders_path %></li>
      <li><%= link_to "新規",new_rider_path %></li>
    
      </ul>
    </div>
  </header>
  <main>
    <%= yield %>
  </main>
  <footer>
  <p>Copyright © GeekSalon All Rights Reserved.</p>
</footer>
  </body>
</html>